<h1>Filiais</h1>

<% if @subsidiaries.empty? %>
    <p>Não existem Filiais cadastradas</p>
<% end %>

<% @subsidiaries.each do |subsidiary| %>
    <p><%= link_to subsidiary.name, subsidiary %></p>
<% end %>

<p><%= link_to 'Registrar nova Filial', new_subsidiary_path %></p>

<%= link_to "Voltar", root_path %>