<h1>Registrar novo Fabricante</h1>

<%= form_for(@manufacturers) do |m| %>

<P>
    <%= m.label :name, 'Nome' %></br>
    <%= m.text_field :name  %>
</p>
<P>
    <%= m.submit 'Enviar' %>
</p>

<% end %>