<h1>Registrar novo Fabricante</h1>

<% if @manufacturer.errors.any? %>
    <p>Você deve preencher todos os campos</p>
<% end %>

<%= form_for(@manufacturer) do |m| %>

<P>
    <%= m.label :name, 'Nome' %></br>
    <%= m.text_field :name  %>
</p>
<P>
    <%= m.submit 'Enviar' %>
</p>

<% end %>