<h1><%= @manufacturer.name %></h1>

<% if current_user.admin? %>
    <%= link_to 'Editar', edit_manufacturer_path(@manufacturer) %></br>
    <%= link_to 'Deletar', manufacturer_path(@manufacturer), method: :delete, data:{confirm: "Deseja deletar este Fabricante?"}%></br>
<% end %>

<%= link_to 'Voltar', root_path %>

